html {
    height: 100%;
}
body{
   max-width: 100%;
   height: 100%;
    background-color: rgb(244, 243, 234);
   display: flex;
   flex-direction: column;
   margin: 0;
   padding: 0;
}
header{
background-color: rgb(244, 243, 234);
text-align: center;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 36pt;
    color: #303030;
    text-transform: uppercase;
    text-shadow: 1px 0 1px;
}   
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32pt;
    color: #303030;
    text-transform: uppercase;
    text-shadow: 1px 0 1px;   
}
.menu li {
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20pt;
    width: 250px;
}
img {
 max-width: 50%; 
}
address {
   font-style: normal; 
}
h2 {text-transform: uppercase;}

footer {
    flex-wrap: wrap;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: flex-end;
    padding: 1.5rem;
    max-height: 100px;}